# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/
staticfiles/
backend/staticfiles/

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm-cache/
frontend/.npm-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
